

 @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
 @font-face {
     font-family: "poppins";
     src: url("./fonts/Poppins-Regular.ttf") format("truetype");
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins", "Poppins", sans-serif;
     user-select: none;
 }
 
 :root {
     --bg-color-blue: #bbd6fd;
     --accentLightTint-blue: #e2eeff;
     --darkerColor-blue: #3569b2;
     --darkColor-blue: #4382ec;
     --textColorDark-blue: #1b3041;
     --whitishColor-blue: #ffffff;
 
     --bg-color-red: #fdbdbd;
     --accentLightTint-red: #ffe7e7;
     --darkerColor-red: #b23535;
     --darkColor-red: #ec4343;
     --textColorDark-red: #411b1b;
     --whitishColor-red: #ffffff;
 
     --bg-color-yellow: #ffed80;
     --accentLightTint-yellow: #fff6c3;
     --darkerColor-yellow: #ae9502;
     --darkColor-yellow: #d1a93d;
     --textColorDark-yellow: #2f2707;
     --whitishColor-yellow: #ffffff;
 
     --bg-color-green: #c7e4c7;
     --accentLightTint-green: #e1f1e1;
     --darkerColor-green: #458245;
     --darkColor-green: #5cba5c;
     --textColorDark-green: #1b411b;
     --whitishColor-green: #ffffff;
 
 
     --bg-color-cyan: #9cefef;
     --accentLightTint-cyan: #d5ffff;
     --darkerColor-cyan: #07787f;
     --darkColor-cyan: #09b2b4;
     --textColorDark-cyan: #08354b;
     --whitishColor-cyan: #ffffff;
 
     --bg-color-pink: #f9c8d6;
     --accentLightTint-pink: #ffebf2;
     --darkerColor-pink: #b24b64;
     --darkColor-pink: #ec5e78;
     --textColorDark-pink: #411b28;
     --whitishColor-pink: #ffffff;
 
     --bg-color-orange: #ffd8b2;
     --accentLightTint-orange: #ffedd5;
     --darkerColor-orange: #b26d3e;
     --darkColor-orange: #ec844d;
     --textColorDark-orange: #412b1e;
     --whitishColor-orange: #ffffff;
 
     --bg-color-purple: #dac2e8;
     --accentLightTint-purple: #e9e2f3;
     --darkerColor-purple: #724b8f;
     --darkColor-purple: #9563b5;
     --textColorDark-purple: #2d1b3e;
     --whitishColor-purple: #ffffff;
 
     --bg-color-silver: #c6c6c6;
     --accentLightTint-silver: #e5e5e5;
     --darkerColor-silver: #6f6f6f;
     --darkColor-silver: #9e9e9e;
     --textColorDark-silver: #333333;
     --whitishColor-silver: #ffffff;
 
     --bg-color-brown: #dfc28d;
     --accentLightTint-brown: #eae3c9;
     --darkerColor-brown: #4e3930;
     --darkColor-brown: #705347;
     --textColorDark-brown: #16100d;
     --whitishColor-brown: #ffffff;
 
 
 
     --bg-color-grey: #ffccbf;
     --accentLightTint-grey: #fdf1ef;
     --darkerColor-grey: #f67455;
     --darkColor-grey: #9c29ba;
     --textColorDark-grey: #441730;
     --whitishColor-grey: #ffffff;
 
 
     --bg-color-dark: #171615;
     --accentLightTint-dark: #3c3c3c;
     --darkerColor-dark: #eeeeee;
     --darkColor-dark: #212121;
     --textColorDark-dark: #d6d6d6;
     --whitishColor-dark: #cccccc;
 
 
     --gap: 30px;
     --round: 30px;
 
     --max-shortcut-bar-width: 60vw;
     --shortcut-bar-gap-and-padding: 10px;
     --shortcut-size: 50px;
     --always-show-dock-background: 0;
 }
 
 
 .accentColor {
     fill: var(--darkColor-blue);
 }
 
 .bgLightTint {
     fill: var(--accentLightTint-blue);
     background-color: var(--accentLightTint-blue);
 }
 
 .strokecolor {
     stroke: var(--darkColor-blue);
 }
 
 .lessDark {
     background-color: var(--bg-color-blue);
     fill: var(--bg-color-blue);
 }
 
 
 html {
     height: 100%;
     width: 100%;
     margin: 0;
     scrollbar-width: none;
 }
 
 .html::-webkit-scrollbar {
     display: none;
 }
 
 body {
     background-color: var(--bg-color-blue);
     color: var(--textColorDark-blue);
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     min-height: 100%;
     overflow: auto;
     background-image: var(--bg-image, none);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     height: 100vh;
     margin: 0;
 }
 
 
 .resultBox {
     max-height: 222px;
     overflow-y: auto;
     position: absolute;
     bottom: -100px;
     left: 0;
     width: 100%;
     border-radius: 25px;
     padding: 5px 10px;
     scrollbar-width: none;
     opacity: 0;
     z-index: -1000;
     transform: translateY(-70px);
     transition: opacity 0.5s ease, transform 0.5s ease, z-index 0.5s ease;
     pointer-events: none;
 }
 
 .resultBox::-webkit-scrollbar {
     display: none;
 }
 
 @media screen and (max-height: 700px) {
     .resultBox {
         max-height: 180px;
         bottom: -60px;
     }
 }
 
 .resultBox.show {
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
     z-index: 1000;
     pointer-events: all;
 }
 
 .resultItem {
     padding: 8px;
     cursor: pointer;
     font-size: 1.1rem;
     color: var(--textColorDark-blue);
 }
 
 .resultItem.active,
 .resultItem:hover {
     background-color: var(--darkColor-blue);
     border-radius: 15px;
     color: #fff;
 }
 
 .googleAppsCont {
     position: fixed;
     display: inline-block;
     margin: 10px;
     top: var(--gap);
     right: var(--gap);
     font-size: 25px;
     background: transparent;
     border: none;
     cursor: pointer;
     z-index: 2;
 }
 
 .dot-icon {
     fill: var(--darkColor-blue);
     background-color: var(--accentLightTint-blue);
     border-radius: 25%;
     padding: 1px;
     cursor: pointer;
 }
 
 .theme-transition .dot-icon {
     transition: fill 0.3s ease;
 }
 
 .dot-icon:active {
     fill: var(--darkerColor-blue);
 }
 
 .tooltip-text {
     visibility: hidden;
     background-color: var(--darkColor-blue);
     color: rgba(255, 255, 255, 0.9);
     text-align: center;
     padding: 5px;
     border-radius: 8px;
     position: absolute;
     top: 120%;
     left: 50%;
     transform: translateX(-50%);
     font-size: 12px;
     opacity: 0;
     transition: opacity 0.3s ease;
     white-space: nowrap;
     z-index: 3;
 }
 
 .googleAppsCont:hover .tooltip-text {
     visibility: visible;
     opacity: 1;
 }
 
 .menu-open .tooltip-text {
     visibility: hidden !important;
     opacity: 0 !important;
 }
 
 .separator {
     width: 100%;
     height: 1px;
     background-color: var(--darkColor-blue);
     margin: 10px 0;
 }
 
 .icon-container .separator {
     grid-column: span 3;
 }
 
 .icon-container {
     display: grid;
     gap: 10px;
     padding: 20px 10px;
     background-color: var(--accentLightTint-blue);
     border-radius: 30px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     border: 8px solid var(--bg-color-blue);
     grid-template-columns: repeat(3, 1fr);
     justify-items: center;
     position: absolute;
     top: 85px;
     right: 15px;
     max-height: calc(40px * 3 + 10px * 2 + 290px);
     overflow-y: auto;
     box-sizing: border-box;
     z-index: 3;
 }
 
 .icon-item {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     padding: 10px;
     border-radius: 10px;
     transition: transform 0.3s ease, background-color 0.3s ease;
     text-decoration: none;
     cursor: pointer;
     position: relative;
     min-width: 100px;
     background-color: var(--accentLightTint-blue);
 }
 
 .menuicon {
     color: var(--darkColor-blue);
     width: 40px;
     height: 40px;
     margin-bottom: 8px;
 }
 
 .label {
     font-size: 14px;
     color: var(--textColorDark-blue);
 }
 
 .label.short {
     display: block;
 }
 
 .label.full {
     display: none;
     white-space: pre-line;
     text-align: center;
     position: absolute;
     font-size: 0.8rem;
     bottom: 0;
 }
 
 .icon-item:hover {
     background-color: var(--bg-color-blue);
     transform: scale(1.1);
 }
 
 .icon-item:hover .label.full {
     display: block;
 }
 
 .icon-item:hover .label.short {
     display: block;
 }
 
 .icon-item:hover .label.short.one {
     display: none;
 }
 
 .icon-container::-webkit-scrollbar {
     width: 5px;
 }
 
 .icon-container::-webkit-scrollbar-track {
     background-color: transparent;
     margin: 11px 0;
 }
 
 .icon-container::-webkit-scrollbar-thumb {
     background-color: var(--darkColor-blue);
     border-radius: 3px;
 }
 
 .icon-container::-webkit-scrollbar-thumb:hover {
     background-color: var(--darkerColor-blue);
     border-radius: 3px;
 }
 
 @-moz-document url-prefix() {
     .icon-container {
         scrollbar-width: thin;
         scrollbar-color: var(--darkColor-blue) transparent;
     }
 }
 
 
 
 #bookmarksContainer {
     background-color: #0000004f;
     backdrop-filter: blur(15px) saturate(160%);
     position: fixed;
     width: 100%;
     height: 100%;
     z-index: 2;
     opacity: 0;
     transition: all 0.5s;
     pointer-events: none;
     z-index: 4;
 }
 
 #bookmarksContainer:has(.bookmark-sidebar.open) {
     opacity: 1;
     pointer-events: auto;
 }
 
 .bookmark-button {
     position: fixed;
     display: inline-block;
     margin: 10px;
     top: var(--gap);
     right: var(--gap);
     font-size: 25px;
     background-color: var(--accentLightTint-blue);
     border: none;
     cursor: pointer;
     z-index: 2;
     padding: 6px;
     border-radius: 25%;
     transition: right 0.3s ease;
 }
 
 .bookmark-button:has(~ .googleAppsCont[style="display: flex;"]) {
     right: calc(2 * var(--gap) + 36px);
 }
 
 .bookmark-button:hover .tooltip-text {
     visibility: visible;
     opacity: 1;
 }
 
 .bookmark-button svg {
     fill: var(--darkColor-blue);
     background-color: var(--accentLightTint-blue);
 }
 
 .bookmark-sidebar {
     width: 380px;
     position: fixed;
     right: -380px;
     top: 0;
     height: 100%;
     background-color: var(--accentLightTint-blue);
     color: white;
     transition: right 0.3s ease;
     z-index: 5;
     display: block;
     border-radius: 0 0 0 var(--round);
     box-sizing: border-box;
 }
 
 .bookmark-sidebar .topOutRoundCorner{
     position: absolute;
     width: 30px;
     height: 30px;
     left: -30px;
 }
 
 .bookmark-sidebar-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 10px;
 }
 
 .bookmark-sidebar.open {
     right: 0;
 }
 
 body #bookmarkButton.bookmark-button.rotate {
     color: var(--accentLightTint-blue);
     right: 412px;
     z-index: 5;
 }
 
 .bookmark-sidebar-header {
     padding: 30px 20px 50px 20px;
     background-color: var(--bg-color-blue);
 }
 
 .bookmark-sidebar-header h2 {
     color: var(--textColorDark-blue);
     text-align: center;
     font-size: 1.5rem;
     flex-grow: 1;
 }
 
 .bookmark-search-container {
     position: relative;
     width: 100%;
     padding: 30px 10px 16px 10px;
     border-radius: var(--round);
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--accentLightTint-blue);
     margin-top: -30px;
     position: relative;
 }
 
 .bookmark-search-container::after {
     content: '';
     background: url('./svgs/bookmarksSearch.svg') no-repeat center / contain;
     width: 18px;
     filter: invert(1);
     height: 18px;
     opacity: 0.5;
     left: 9%;
     top: calc(50% + 7px);
     transform: translateY(-50%);
     position: absolute;
 }
 
 #bookmarkSearch {
     width: 95%;
     padding: 10px 36px 10px 43px;
     border-radius: var(--round);
     font-size: 16px;
     background-color: var(--whitishColor-blue);
     color: var(--textColorDark-blue);
     outline: none !important;
     border: none !important;
 }
 
 #bookmarkSearch::placeholder {
     color: var(--textColorDark-blue);
     opacity: 0.7;
 }
 
 #clearSearchButton {
     position: absolute;
     right: 9%;
     top: calc(50% + 7px);
     transform: translateY(-50%);
     background: none;
     border: none;
     color: var(--textColorDark-blue);
     cursor: pointer;
     display: none;
 }
 
 #bookmarkList {
     list-style-type: none;
     padding: 0;
     margin: 0;
     text-align: left;
     height: calc(100% - 230px);
     overflow-y: auto;
     overflow-x: hidden;
 }
 
 #bookmarkList::-webkit-scrollbar {
     width: 6px;
 }
 
 #bookmarkList::-webkit-scrollbar-track {
     background-color: transparent;
 }
 
 #bookmarkList::-webkit-scrollbar-thumb {
     background-color: var(--darkColor-blue);
     border-radius: 3px;
 }
 
 #bookmarkList::-webkit-scrollbar-thumb:hover {
     background-color: var(--darkerColor-blue);
     border-radius: 3px;
 }
 
 @-moz-document url-prefix() {
     #bookmarkList {
         scrollbar-width: thin;
         scrollbar-color: var(--darkColor-blue) transparent;
     }
 }
 
 .bookmark-view-as-container {
     display: flex;
     box-sizing: border-box;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     padding: 8px 32px;
     & h3 {
         font-size: 1rem;
         color: var(--darkerColor-blue);
     }
 }
 
 .bookmark-view-as-container .bookmark-view-as-button {
     background: transparent;
     border-radius: 20px;
     border: 2px solid var(--darkColor-blue);
     color: var(--darkColor-blue);
     width: 60px;
     font-size: 12px;
     padding: 2px 0;
     margin-left: 10px;
     cursor: pointer;
 }
 .bookmark-view-as-container #bookmarkGridCheckbox:is(:checked) ~ #bookmarkViewGrid,
 .bookmark-view-as-container #bookmarkGridCheckbox:is(:not(:checked)) ~ #bookmarkViewList {
     background: var(--darkColor-blue);
     color: white;
 }
 
 #bookmarkList ul {
     padding-left: 10px;
     list-style-type: none;
     font-weight: normal;
 }
 
 #bookmarkList .folder ul{
     padding-top: 10px;
 }
 
 #bookmarkList li {
     padding: 2px;
     border: none;
     position: relative;
 }
 #bookmarkList li:is(.folder) {
     padding: 10px 0 10px 10px;
 }
 
 #bookmarkList li:not(.folder) {
     display: flex;
     width: calc(100% - 10px);
 }
 
 #bookmarkList:is(.grid-view) ul:not(.hidden), #bookmarkList:is(.grid-view) .folder.open > ul {
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
 
     .folder {
         grid-column: span 4;
     }
 }
 
 #bookmarkList:is(.grid-view) li:not(.folder) {
     width: 100%;
     padding-bottom: 6px;
 }
 
 #bookmarkList:is(.grid-view) li a {
     padding: 2px;
     flex-direction: column;
 }
 #bookmarkList:is(.grid-view) li a .favicon {
     margin: 20px auto 24px auto;
 }
 #bookmarkList:is(.grid-view) li a:has(.favicon)::after, #bookmarkList:is(.grid-view) li a:has(.favicon)::before {
     content: '';
     background: var(--bg-color-blue);
     position: absolute;
     width: 48px;
     height: 48px;
     z-index: -1;
     left: 50%;
     transform: translateX(-50%);
     opacity: 0.35;
     top: 12px;
     box-sizing: border-box;
     border-radius: 32px;
 }
 #bookmarkList:is(.grid-view) li a:has(.favicon)::before {
     background: var(--bg-color-blue);
     width: 36px;
     height: 36px;
     opacity: 1;
     top: 18px;
 }
 
 #bookmarkList li a {
     color: var(--textColorDark-blue);
     text-decoration: none;
     padding: 8px;
     padding-right: 24px;
     border-radius: 8px;
     width: 100%;
     display: flex;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 
 #bookmarkList li a span {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 
 #bookmarkList:is(.grid-view) li a span {
     text-align: center;
 }
 
 
 .favicon {
     width: 18px;
     height: 18px;
     margin-right: 5px;
     vertical-align: middle;
     filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
 }
 
 #bookmarkList:is(.grid-view) .favicon {
     width: 24px;
     height: 24px;
 }
 
 .folder {
     cursor: pointer;
     font-weight: bolder;
     color: var(--textColorDark-blue);
 }
 
 .hidden {
     display: none;
 }
 
 .ui {
     display: block;
     pointer-events: none;
 }
 
 .folder svg {
     margin-right: 5px;
     vertical-align: middle;
 }
 
 .folder ul {
     padding-left: 20px;
 }
 
 .folder.open > ul {
     display: block;
 }
 
 #bookmarkList:is(.grid-view)  .bookmark-delete-button {
     top: 12px;
     right: 6px;
 }
 
 .bookmark-delete-button {
     background: none;
     border: none;
     color: var(--darkColor-blue);
     cursor: pointer;
     position: absolute;
     right: 10px;
     top: 50%;
     transform: translateY(-50%);
     opacity: 0;
     pointer-events: none;
 }
 
 :hover > .bookmark-delete-button {
     opacity: 1;
     pointer-events: auto;
 }
 
 
 
 .todoListCont {
     position: fixed;
     display: inline-block;
     margin: 10px;
     top: var(--gap);
     left: var(--gap);
     font-size: 25px;
     background: transparent;
     border: none;
     cursor: pointer;
     z-index: 2;
 }
 
 .todoListCont:hover .tooltip-text {
     visibility: visible;
     opacity: 1;
 }
 
 .todo-container {
     display: grid;
     gap: 10px;
     padding: 10px 5px;
     background-color: var(--bg-color-blue);
     border-radius: 30px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     border: 8px solid var(--bg-color-blue);
     grid-template-columns: 320px;
     justify-items: center;
     position: absolute;
     top: 85px;
     left: 15px;
     max-height: calc(40px * 3 + 10px * 2 + 290px);
     overflow-y: auto;
     box-sizing: border-box;
     z-index: 3;
 }
 
 .todo-container::-webkit-scrollbar {
     width: 5px;
 }
 
 .todo-container::-webkit-scrollbar-track {
     background-color: transparent;
     margin-top: 108px;
     margin-bottom: 11px;
 }
 
 .todo-container::-webkit-scrollbar-thumb {
     background-color: var(--darkColor-blue);
     border-radius: 3px;
 }
 
 .todo-container::-webkit-scrollbar-thumb:hover {
     background-color: var(--darkerColor-blue);
     border-radius: 3px;
 }
 
 @-moz-document url-prefix() {
     .todo-container {
         scrollbar-width: thin;
         scrollbar-color: var(--darkColor-blue) transparent;
     }
 }
 
 #todoAdd {
     height: 40px;
     border-radius: 100px;
     padding: 1px 13px 0 13px;
     border: none;
     font-size: 1.5rem;
     background-color: var(--darkColor-blue);
     color: white;
     scale: 0.78;
 }
 
 #todoAdd:hover {
     background-color: var(--darkerColor-blue);
     color: #fff;
     cursor: pointer;
 }
 
 #todoAdd:active {
     transform: scale(0.9);
 }
 
 .theme-transition #todoAdd {
     transition: all 0.3s;
 }
 
 #todoInput {
     width: 100%;
     height: 80%;
     margin: auto auto auto 16px;
     outline: none;
     border: none;
     background-color: #00000000;
     padding: 0 2px;
     font-size: 1rem;
 }
 
 .dark-theme #todoInput {
     color: #FFF;
 }
 
 #todoInput::placeholder {
     color: #757575;
 }
 
 .todo-container .searchbar-content {
     background: var(--accentLightTint-blue);
     padding: 0;
     border-radius: 20px;
     width: 100%;
 }
 
 .todolist {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 8px;
     justify-content: center;
     align-items: flex-start;
 }
 
 .todolistitem {
     width: 100%;
     display: flex;
     background-color: var(--darkColor-blue);
     color: #FFF;
     border-radius: 8px;
     padding: 8px 12px;
     list-style-type: none;
     font-size: 1rem;
     padding: 12px 56px 12px 32px;
     user-select: none;
     cursor: pointer;
     position: relative;
     word-break: break-word;
 }
 
 .todolistitem::before {
     content: '';
     position: absolute;
     height: 18px;
     width: 18px;
     border-radius: 50%;
     background: url('./svgs/todo-check-stroke.svg') no-repeat center center / contain;
     background-size: cover;
     background-position: center;
     top: 50%;
     transform: translateY(-50%);
     left: 8px;
     transition: all 0.3s ease;
     user-select: none;
 }
 
 .todolistitem.checked::before {
     background-image: url('./svgs/todo-check-fill.svg');
 }
 
 .todolistitem.checked {
     color: #CCC;
     text-decoration: line-through;
 }
 
 .todolistitem .todoremovebtn, .todolistitem .todopinbtn {
     position: absolute;
     right: 6px;
     top: 50%;
     transform: translateY(-50%);
     width: 24px;
     height: 24px;
     font-size: 22px;
     line-height: 1.2;
     color: var(--bg-color-blue);
     text-align: center;
     border-radius: 50%;
     transition: all 0.3s ease;
     user-select: none;
 }
 
 .todolistitem .todoremovebtn {
     scale: 1.05;
 }
 
 .todolistitem .todoremovebtn:hover {
     color: #FFF;
 }
 
 .todolistitem .todopinbtn {
     right: 28px;
     background: url('./svgs/todo-pin-stroke.svg') no-repeat center center / contain;
 }
 
 .todolistitem.pinned .todopinbtn {
     background-image: url('./svgs/todo-pin-fill.svg');
 }
 
 .todolistitem:first-child {
     border-top-left-radius: 18px;
     border-top-right-radius: 18px;
 }
 
 .todolistitem:last-child {
     border-bottom-left-radius: 18px;
     border-bottom-right-radius: 18px;
 }
 
 
 .centerDiv {
     display: grid;
     grid-template-columns: auto auto;
     width: fit-content;
     height: fit-content;
     padding-bottom: calc(var(--shortcut-size) + var(--gap) * 2);
 }
 
 #digitalClock {
     width: 300px;
     height: 300px;
     border-radius: 100%;
     position: relative;
 }
 
 #analogClock {
     width: 300px;
     height: 300px;
     border-radius: 100%;
     position: relative;
 }
 
 #clock svg {
     position: absolute;
     animation: clockAnm 1s;
 }
 
 @keyframes clockAnm {
     from {
         transform: rotate(40deg);
     }
 
     to {
         transform: rotate(0deg);
     }
 }
 
 .clock .centerPoint {
     width: 20px;
     height: 20px;
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     margin: auto;
 }
 
 .clock .centerPoint .sui {
     position: absolute;
     width: 20px;
     height: 100px;
     background-color: var(--darkColor-blue);
     top: -90px;
     transform-origin: bottom;
     border-radius: 10px;
 }
 
 #hour {
     height: 80px;
     top: -70px;
     background-color: var(--darkerColor-blue);
     transform: rotate(90deg);
     transition: transform 1.5s;
 }
 
 #hour::after {
     content: "";
     position: absolute;
     width: 20px;
     height: 30px;
     background-color: var(--darkerColor-blue);
     bottom: -10px;
     border-radius: 100px;
 }
 
 #minute {
     z-index: 9 !important;
     transition: transform 1.5s;
 }
 
 #minute::after {
     content: "";
     position: absolute;
     width: 20px;
     height: 30px;
     background-color: var(--darkColor-blue);
     bottom: -10px;
     border-radius: 100px;
 }
 
 #second {
     background-color: #00000000;
     transition: transform 1s;
 }
 
 #second::after {
     content: "";
     position: absolute;
     width: 20px;
     height: 20px;
     background-color: var(--darkColor-blue);
     top: -28px;
     border-radius: 100%;
 }
 
 .ttteexxtt {
     position: absolute;
     bottom: 8px;
     left: 10px;
 }
 
 #userText {
     font-family: "poppins", "Poppins", serif;
     font-size: 1.4rem;
     margin-bottom: -25px;
 }
 
 #date {
     font-size: 1.4rem;
 }
 
 .digidate {
     fill: var(--textColorDark-blue);
 }
 
 .amPm {
     fill: var(--textColorDark-blue);
 }
 
 .digiclock {
     text-anchor: middle;
     fill: var(--darkColor-blue);
     font-size: 8rem;
     font-weight: lighter;
     margin: auto;
     width: fit-content;
 }
 
 #digihours {
     fill: var(--darkerColor-blue);
 }
 
 #digicolon {
     animation: blink 1s infinite;
 }
 
 @keyframes blink {
     50% {
         opacity: 0;
     }
 }
 
 .leftDiv {
     transform: translateX(-100px);
 }
 
 .rightDiv {
     position: relative;
     width: 640px;
     transform: translateX(100px);
 }
 
 .rightDiv .topDiv {
     height: 196px;
     display: flex;
     justify-content: flex-end;
 }
 
 .rightDiv .topDiv .lrectangle {
     height: 100%;
     width: 100%;
     border-radius: var(--round);
     padding: 20px;
     position: relative;
 }
 
 #conditionText {
     font-size: 1.2rem;
     color: var(--textColorDark-blue);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 372px;
 }
 
 .cconnt {
     width: calc(100% - 40px);
     bottom: 20px;
     height: fit-content;
     position: absolute;
     font-size: 1rem;
 }
 
 .tilesContainer {
     height: 50px;
     width: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
 }
 
 .tilesContainer .tiles {
     background-color: var(--darkColor-yellow);
     border-radius: 22px;
     position: relative;
     height: 50px;
 }
 
 .tilesContainer .location {
     background-color: var(--darkColor-purple);
 }
 
 .tilesContainer .location .location_spn {
     color: #fff;
 }
 
 .tilesContainer .tiles .icon {
     height: 100%;
     aspect-ratio: 1/1;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .tilesContainer .tiles span {
     position: absolute;
     top: 0;
     left: 46px;
     bottom: 0;
     margin: auto;
     color: var(--textColorDark-blue);
     height: fit-content;
 }
 
 .humidityBar {
     border-radius: 20px;
     height: 40px;
     width: 100%;
     margin-bottom: 20px;
     position: relative;
 }
 
 .humidityBar::after {
     position: absolute;
     content: "";
     height: 100%;
     width: 40px;
     background-size: 66%;
     background: var(--darkColor-green) url("./svgs/humidity.svg") no-repeat center center;
     right: 0;
     border-radius: 100%;
 }
 
 .humidityBar .thinLine {
     position: absolute;
     width: calc(100% - 60px);
     background-color: var(--whitishColor-blue);
     height: 6px;
     border-radius: 10px;
     top: 0;
     bottom: 0;
     margin: auto;
 }
 
 .humidityBar .slider {
     height: 100%;
     width: calc(10% - 60px);
     min-width: 42%;
     background-color: var(--darkColor-red);
     border-radius: 100px;
     position: absolute;
     transition: width 1s;
 }
 
 #humidityLevel {
     color: #fff;
     width: fit-content;
     position: absolute;
     bottom: 0;
     top: 0;
     margin: auto;
     left: 20px;
     height: fit-content;
 }
 
 
 .rightDiv .topDiv .rAndakar {
     position: relative;
     height: 100%;
     aspect-ratio: 1/1;
     margin-left: var(--gap);
     animation: rAndAnm 1s;
 }
 
 @keyframes rAndAnm {
     from {
         transform: rotate(-45deg);
     }
 
     to {
         transform: rotate(0deg);
     }
 }
 
 .rightDiv .topDiv .rAndakar .wInfo {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     transform: translateX(14px);
     width: 100px;
     height: 80%;
 }
 
 #temp {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--darkerColor-blue);
    margin: auto;
    width: fit-content;
    margin-left: 515px;
    margin-top: -37px;
 }
 
 .tempUnit {
     font-size: 0.4em;
     position: relative;
     top: -1.1em;
     left: 3px;
     color: var(--darkColor-blue);
 }
 
 #wIcon {
     width: 80px;
     height: 80px;
     margin-top: -11px;
     margin-left: -30px;
 }
 
 
 
 .searchbar {
     margin-top: var(--gap);
     width: 100%;
     height: 60px;
     border-radius: var(--round);
     position: relative;
     outline: 2px solid #00000000;
     transition: outline 0.3s;
 }
 
 .searchbar.active {
     outline: 2px solid var(--darkColor-blue);
 }
 
 .searchbar .searchIcon {
     width: 30px;
     height: 30px;
     position: absolute;
     margin-top: 16px;
     margin-left: 16px;
 }
 
 .searchbar-content {
     display: flex;
     align-items: center;
     height: 100%;
     padding-right: 10px;
 }
 
 #searchQ {
     flex-grow: 1;
     height: 80%;
     top: 0;
     bottom: 0;
     margin: auto auto auto 20px;
     outline: none;
     border: none;
     background-color: #00000000;
     padding: 0 2px;
     margin-left: 55px;
     font-size: 1rem;
 }
 
 #searchQ::placeholder {
     color: #757575;
 }
 
 
 .searchControls {
     margin-left: 10px;
     right: 10px;
     display: flex;
     align-items: center;
     height: 100%;
 }
 
 
 .micIcon {
     width: 40px;
     height: 40px;
     margin-right: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--darkColor-blue);
     cursor: pointer;
     border-radius: 50%;
     padding: 3px;
     box-sizing: border-box;
     background-color: var(--whitishColor-blue);
     border: 2px solid transparent;
 }
 
 .theme-transition .micIcon {
     transition: all 0.5s;
 }
 
 .micIcon::after {
     content: "";
     position: absolute;
     width: 40px;
     height: 40px;
     border-radius: 100%;
     border: 2px solid transparent;
 }
 
 .micActive::after,
 .micIcon:hover::after {
     border-left: 2px dotted var(--darkColor-blue);
     border-right: 2px solid var(--darkColor-blue);
     border-top: 2px dashed var(--darkerColor-blue);
     border-bottom: 2px dashed var(--darkerColor-blue);
     animation: micAnimation 1s ease-in-out infinite;
     transition: all 0.5s;
 }
 
 .micIcon:hover {
     background-color: #fffffff2;
 }
 
 @keyframes micAnimation {
     0% {
         transform: rotate(0deg);
     }
 
     37% {
         transform: rotate(-20deg);
     }
 
     69% {
         transform: rotate(20deg);
     }
 
     100% {
         transform: rotate(0deg);
     }
 }
 
 
 #enterBtn {
     height: 40px;
     border-radius: 100px;
     padding: 0 26px;
     border: none;
     font-size: 1.1rem;
     background-color: var(--darkColor-blue);
     color: white;
 }
 
 #enterBtn:hover {
     background-color: var(--darkColor-blue);
     color: #fff;
     cursor: pointer;
 }
 
 #enterBtn:active {
     transform: scale(0.9);
 }
 
 .theme-transition #enterBtn {
     transition: all 0.3s;
 }
 
 
 .searchWithCont {
     margin-top: var(--gap);
     border-radius: var(--round);
     position: relative;
     display: flex;
     font-size: 1rem;
 }
 
 .quotesContainer {
     position: absolute;
     background-color: var(--accentLightTint-blue);
     height: 100%;
     width: 100%;
     border-radius: 20px;
     padding: 20px;
     line-height: 28px;
 }
 
 .authorName {
     background: var(--bg-color-blue);
     position: absolute;
     bottom: 0;
     right: 0;
     padding: 6px 16px;
     height: 40px;
     border-top-left-radius: 20px;
     border-bottom-right-radius: 20px;
 }
 
 .authorName .qtRounder {
     position: absolute;
     width: 20px;
     height: 20px;
     left: -20px;
     transform: rotate(90deg);
     bottom: 0;
 }
 
 .authorName .qtRounder2 {
     position: absolute;
     width: 20px;
     height: 20px;
     right: 0;
     transform: rotate(90deg);
     top: -20px;
 }
 
 .searchWithCont .hint {
     background-color: transparent;
     width: 200px;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
     position: relative;
     margin-right: 16px;
     border-radius: var(--round);
 }
 
 .searchWithCont .hint::after {
     content: "";
     position: absolute;
     width: 6px;
     height: 100%;
     background-color: transparent;
     border-radius: 3px;
     right: -20px;
 }
 
 .searchEnginesContainer {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     padding-left: 20px;
 }
 
 .searchEnginesContainer .search-engine {
     border-radius: 20px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     cursor: pointer;
 }
 
 .searchEnginesContainer .search-engine svg {
     width: 30px;
     height: 30px;
     background-color: var(--darkColor-blue);
     border-radius: 100%;
     margin-left: 4px;
     padding: 3px;
 }
 
 .searchEnginesContainer .search-engine label {
     margin: 0 16px 0 10px;
     cursor: pointer;
 }
 
 .search-engine input[type="radio"] {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-color: var(--whitishColor-blue);
     width: 22px;
     height: 22px;
     border-radius: 50%;
     border: 2px solid var(--whitishColor-blue);
     outline: none;
     margin-right: 8px;
     cursor: pointer;
 }
 
 .search-engine input[type="radio"]:checked {
     background-color: var(--darkColor-blue);
 }
 
 .theme-transition .search-engine input[type="radio"] {
     transition: 0.2s;
 }
 
 
 
 #shortcuts-section {
     pointer-events: none;
     display: flex;
     justify-content: center;
     width: 100%;
     height: calc(var(--shortcut-size) + var(--gap) * 2);
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
 }
 
 #shortcuts-section .wrapper {
     position: relative;
     height: fit-content;
     display: inline-flex;
     align-items: stretch;
     width: fit-content;
 }
 
 #shortcuts-section #flexMonitor {
     position: absolute;
     height: 100%;
     visibility: hidden;
 }
 
 #shortcuts-section #defaultMonitor {
     position: absolute;
     height: calc(var(--shortcut-size) + var(--gap) + var(--shortcut-bar-gap-and-padding));
     visibility: hidden;
 }
 
 .shortcutsContainer {
     pointer-events: auto;
     transition: transform 0.5s;
     margin-top: calc(var(--gap) - var(--shortcut-bar-gap-and-padding));
     max-width: calc(var(--max-shortcut-bar-width) - mod(var(--max-shortcut-bar-width) - var(--shortcut-bar-gap-and-padding),
                 var(--shortcut-size) + var(--shortcut-bar-gap-and-padding)));
     display: flex;
     flex-wrap: wrap;
     padding: var(--shortcut-bar-gap-and-padding);
     justify-content: center;
     width: fit-content;
     gap: 26px;
 }
 
 .shortcutsContainer::before {
     border-radius: 34px;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: var(--accentLightTint-blue);
     z-index: -1;
     opacity: var(--always-show-dock-background);
     transition: opacity 0.5s;
     pointer-events: none;
 }
 
 .shortcutsContainer.showBackground::before {
     opacity: 1;
 }
 
 .shortcutsContainer .shortcuts {
     position: relative;
     transition: all 0.3s;
     isolation: isolate;
 }
 
 .shortcutsContainer .shortcuts:hover {
     transform: translateY(-10px) scale(1.03);
     border-radius: 100px;
 }
 
 .shortcuts .shortcut-name {
     visibility: hidden;
     position: absolute;
     bottom: -30px;
     right: 0;
     left: 50%;
     transform: translateX(-50%);
     margin: auto;
     width: fit-content;
     text-align: center;
     color: var(--textColorDark-blue);
     opacity: 0;
     transition: all 0.3s;
     font-size: 1rem;
     white-space: nowrap;
 }
 
 .shortcuts:hover .shortcut-name {
     visibility: visible;
     opacity: 1;
 }
 
 .shortcutsContainer .shortcuts a {
     border-radius: 100px;
     display: block;
     height: var(--shortcut-size);
     width: var(--shortcut-size);
 }
 
 .shortcutsContainer .shortcuts a:has(svg) {
     background-color: var(--accentLightTint-blue);
 }
 
 .shortcutsContainer .shortcuts a:has(img) {
     background-color: var(--darkColor-blue);
 }
 
 .shortcutsContainer .shortcuts a svg {
     height: 100%;
     width: 100%;
 }
 
 .shortcutsContainer .shortcuts .shortcutLogoContainer {
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
 }
 
 .shortcutsContainer .shortcuts .shortcutLogoContainer img {
     height: 100%;
     width: 100%;
     border-radius: 100%;
 }
 
 
 .aiToolsCont {
     height: 50px;
     width: fit-content;
     overflow-x: hidden;
     border-radius: 100px;
     position: fixed;
     left: var(--gap);
     bottom: var(--gap);
     margin: auto;
     display: flex;
 
     max-width: calc(100% - 140px);
     overflow-x: scroll;
     overflow-y: hidden;
     scrollbar-width: none;
     -ms-overflow-style: none;
 }
 
 .aiToolsCont::-webkit-scrollbar {
     display: none;
 }
 
 .aiToolsCont .hangno {
     background-color: var(--accentLightTint-blue);
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 16px;
     border-radius: 100px;
     z-index: 2;
     cursor: pointer;
 }
 
 .aiToolsCont .hangno .icon {
     width: 26px;
     height: 26px;
     margin-right: 12px;
 }
 
 .aiToolsCont .hangno .label {
     font-size: 1rem;
     color: var(--textColorDark-blue);
     cursor: pointer;
     width: fit-content;
     min-width: 61px;
 }
 
 .aiToolsCont .toolsCont {
     display: none;
     position: relative;
     margin-left: 30px;
     transition: all 500ms;
     gap: 0;
     transform-origin: left;
     transform: scale(0.5) translateX(-70px);
     opacity: 0.2;
 }
 
 .aiToolsCont .toolsCont::before {
     content: "";
     position: absolute;
     height: 100%;
     width: 6px;
     background-color: var(--accentLightTint-blue);
     border-radius: 6px;
     left: -18px;
 }
 
 #firefly {
     width: 103px;
 }
 
 .aiToolsCont .toolsCont a {
     background-color: var(--accentLightTint-blue);
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 16px;
     border-radius: 100px;
     text-decoration: none;
     color: var(--textColorDark-blue);
     font-size: 1rem;
     transition: all 0.3s ease;
 }
 
 .aiToolsCont .toolsCont a:hover {
     background-color: var(--bg-color-blue);
     box-shadow: inset 0 0 0 1px var(--darkColor-blue);
 }
 
 .aiToolsCont .toolsCont .tIcon {
     width: 26px;
     height: 26px;
     margin-right: 12px;
 }
 
 
 
 @media screen and (max-width: 1400px) {
     .leftDiv {
         transform: translateX(-50px);
     }
 
     .rightDiv {
         transform: translateX(50px);
     }
 }
 
 @media screen and (max-width: 1200px) {
     body {
         display: block;
     }
 
     .shortcutsContainer {
         margin-top: 210px;
     }
 
     .centerDiv {
         grid-template-columns: auto;
         position: absolute;
         left: 0;
         right: 0;
         margin: var(--gap) auto auto;
     }
 
     .leftDiv {
         transform: translateX(0px);
         margin-bottom: var(--gap);
     }
 
     .rightDiv {
         transform: translateX(0px);
     }
 
     .ttteexxtt {
         height: fit-content;
         width: fit-content;
         bottom: 0;
         top: 0;
         left: 300px;
         margin: auto auto auto var(--gap);
     }
 }
 
 .menuBar {
     background-color: #0000004f;
     backdrop-filter: blur(15px) saturate(160%);
     position: fixed;
     width: 100%;
     height: 100%;
     z-index: 9999;
     opacity: 0;
     transition: all 0.5s;
     overflow: hidden;
 }
 
 .menuBar .menuCont {
     position: absolute;
     right: 0;
     height: 100%;
     width: 400px;
     transition: all 0.5s;
     transform: translateX(100%);
     background-color: var(--accentLightTint-blue);
     border-bottom-left-radius: var(--round);
 }
 
 .menuBar .menuCont .topRounder {
     width: var(--round);
     height: var(--round);
     position: absolute;
     left: -30px;
 }
 
 .menuCont .topDiv {
     width: 100%;
     height: 140px;
     background-color: var(--bg-color-blue);
     position: relative;
 }
 
 .menuCont .topDiv::after {
     position: absolute;
     content: "";
     width: 100%;
     height: var(--gap);
     background-color: var(--accentLightTint-blue);
     border-top-left-radius: var(--round);
     border-top-right-radius: var(--round);
     bottom: 0;
 }
 
 .menuCont .topDiv h1 {
     font-size: 1.6rem;
     width: fit-content;
     height: fit-content;
     color: var(--textColorDark-blue);
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     margin: auto;
     transform: translateY(-50%);
 }
 
 .menuCont .optCont {
     width: 100%;
     height: calc(100% - 140px);
     transition: all 0.6s;
     transform: translateX(100%);
     opacity: 0;
     overflow-y: scroll;
     overflow-x: hidden;
 }
 
 .menuCont .optCont .page {
     width: 100%;
     padding: 0 var(--gap) var(--gap) var(--gap);
     position: absolute;
     transition: all 0.6s;
 }
 
 .menuCont .optCont::-webkit-scrollbar {
     width: 6px;
 }
 
 .menuCont .optCont::-webkit-scrollbar-track {
     background: transparent;
 }
 
 .menuCont .optCont::-webkit-scrollbar-thumb {
     background: var(--darkColor-blue);
     border-radius: 3px;
 }
 
 .menuCont .optCont::-webkit-scrollbar-thumb:hover {
     background: var(--darkerColor-blue);
     border-radius: 3px;
 }
 
 @-moz-document url-prefix() {
     .menuCont .optCont {
         scrollbar-width: thin;
         scrollbar-color: var(--darkColor-blue) transparent;
     }
 }
 
 
 .menuBar .optCont .tilesCont {
     width: 100%;
     height: 50px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: var(--gap);
 }
 
 .tilesCont .tiles {
     background-color: var(--darkColor-blue);
     border-radius: 20px;
     font-size: 1rem;
     color: var(--accentLightTint-blue);
     display: flex;
     align-items: center;
     text-decoration: none;
     transition: background-color 0.3s ease;
 }
 
 .tilesCont .tiles:hover {
     background-color: var(--darkerColor-blue);
 }
 
 .tilesCont .tiles .icon {
     width: 24px;
     height: 24px;
     margin-left: 13px;
     margin-right: 13px;
 }
 
 .divider {
     height: 6px;
     width: 100px;
     background-color: #fff;
     border-radius: 3px;
     margin: 20px auto;
 }
 
 .switch {
     position: relative;
     display: inline-block;
     min-width: 60px;
     height: 34px;
     margin-left: 8px;
 }
 
 .switch input {
     display: none;
 }
 
 .toggle {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: var(--bg-color-blue);
     transition: 0.4s;
     border-radius: 34px;
 }
 
 .toggle:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: var(--accentLightTint-blue);
     transition: 0.4s;
     border-radius: 50%;
 }
 
 #shortcutEditButton {
     fill: var(--darkerColor-blue);
     display: flex;
     align-items: center;
     justify-content: center;
     border: none;
     border-radius: 34px;
     cursor: pointer;
     transition: 0.3s all;
     margin: 0 auto;
     background: none;
     height: 100%;
     width: 100%;
 }
 
 .toggleTextsCont .ttcont.inactive {
     opacity: 0.5;
     pointer-events: none;
 }
 
 input:checked+.toggle {
     background-color: var(--darkColor-blue);
 }
 
 input:checked+.toggle:before {
     transform: translateX(26px);
 }
 
 
 .toggleTextsCont .ttcont {
     display: flex;
     height: 50px;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
 }
 
 .unflex {
     display: block !important;
 }
 
 .ttcont input {
     width: 100%;
     margin-top: 6px;
     height: 30px;
     border-radius: 10px;
     border: none;
     outline: none;
     padding: 0 11px;
 }
 
 .ttcont .texts .bigText {
     font-size: 1.2rem;
     color: var(--textColorDark-blue);
 }
 
 .ttcont .texts .infoText {
     font-size: 0.9rem;
     color: var(--textColorDark-blue);
     opacity: 0.86;
     margin-top: -3px;
 }
 
 .bottom {
     display: flex;
     justify-content: space-between;
     margin-top: 12px;
 }
 
 .bottom a {
     text-decoration: none;
     color: var(--darkColor-blue);
     font-size: 1rem;
     transition: color 0.3s ease;
 }
 
 .bottom a:hover {
     color: var(--darkerColor-blue);
 }
 
 .bottom button {
     border: none;
     color: #fff;
     background-color: var(--darkColor-blue);
     padding: 6px 20px;
     font-size: 1rem;
     border-radius: 100px;
     cursor: pointer;
 }
 
 .resetbtn {
     width: -webkit-fill-available;
     width: -moz-available;
     border: none;
     color: #fff;
     background-color: var(--darkColor-blue);
     padding: 6px 20px;
     font-size: 1rem;
     border-radius: 100px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 .resetbtn:hover {
     background-color: var(--darkerColor-blue);
 }
 
 .resetbtn:active {
     background-color: var(--bg-color-blue);
     color: var(--darkerColor-blue);
 }
 
 .topBar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 50px;
     position: sticky;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     background-color: var(--accentLightTint-blue);
 }
 
 #backButton {
     fill: var(--textColorDark-blue);
     border: none;
     background: none;
     cursor: pointer;
 }
 
 .rightButtons {
     display: flex;
     gap: 24px;
 }
 
 #newShortcutButton svg {
     transition: transform 0.3s ease;
 }
 
 #newShortcutButton:active svg {
     transform: scale(1.2);
 }
 
 .rotateResetButton {
     transform: rotate(-360deg);
     transition: transform 0.3s ease;
 }
 
 #resetButton,
 #newShortcutButton {
     fill: var(--textColorDark-blue);
     border: none;
     background: none;
     cursor: pointer;
 }
 
 #newShortcutButton.inactive {
     opacity: 0.5;
     pointer-events: none;
 }
 
 .pageTitle {
     margin-top: 10px;
     width: 100%;
     font-size: 1.6rem;
     color: var(--textColorDark-blue);
 }
 
 #editShortcutsListInfo {
     font-size: 0.8rem;
     margin-top: 5px;
     margin-bottom: var(--gap);
     text-align: justify;
 }
 
 .shortcutSettingsEntry {
     width: 100%;
     display: flex;
     height: 50px;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
 }
 
 .shortcutSettingsEntry input {
     width: calc(100% - var(--gap));
     background: none;
     border: none;
 }
 
 .shortcutSettingsEntry .shortcutName {
     font-size: 1.2rem;
     color: var(--textColorDark-blue);
     text-overflow: ellipsis;
 }
 
 .shortcutSettingsEntry .URL {
     font-size: 0.9rem;
     color: var(--textColorDark-blue);
     opacity: 0.86;
     margin-top: -3px;
     text-overflow: ellipsis;
 }
 
 .delete button {
     fill: var(--textColorDark-blue);
     display: flex;
     align-items: center;
     justify-content: center;
     width: 60px;
     height: 34px;
     background: var(--bg-color-blue);
     border: none;
     border-radius: 34px;
     cursor: pointer;
     transition: 0.3s all;
 }
 
 .delete button:hover {
     fill: white;
     background: var(--darkColor-blue);
 }
 
 .delete button.inactive {
     opacity: 0.5;
     pointer-events: none;
 }
 
 .addShortcutContainer button {
     fill: white;
     background: var(--darkColor-blue);
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 60px;
     height: 34px;
     border: none;
     border-radius: 34px;
     cursor: pointer;
     transition: 0.3s all;
 }
 
 #userproxy {
     color: var(--textColorDark-blue);
     background-color: var(--whitishColor-blue);
 }
 
 #userLoc {
     color: var(--textColorDark-blue);
     background-color: var(--whitishColor-blue);
 }
 
 #userAPI {
     color: var(--textColorDark-blue);
     background-color: var(--whitishColor-blue);
 }
 
 
 .themingStuff {
     margin-top: 11px;
     position: relative;
     width: 100%;
     height: 50px;
     display: flex;
     justify-content: space-between;
     gap: var(--gap);
 }
 
 .languageSection {
     width: 100%;
     height: 50px;
     display: flex;
     justify-content: space-between;
     gap: var(--gap);
     margin-top: 30px;
 }
 
 .languageSelector {
     background-color: var(--whitishColor-blue);
     align-items: center;
     justify-content: center;
     height: fit-content;
     width: 240px;
     border: 2px solid transparent;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-auto-rows: auto;
     grid-gap: 10px;
     padding: 12px;
     color: var(--textColorDark-blue);
     border-radius: 26px;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     cursor: pointer;
     padding-left: 13px;
 
     @-moz-document url-prefix() {
         scrollbar-width: thin;
         scrollbar-color: var(--darkColor-blue) transparent;
     }
 }
 
 .languageSelector::-webkit-scrollbar {
     width: 6px;
 }
 
 .languageSelector::-webkit-scrollbar-track {
     background-color: transparent;
 }
 
 .languageSelector::-webkit-scrollbar-thumb {
     background-color: var(--bg-color-blue);
     border-radius: 3px;
 }
 
 .languageSelector:focus {
     border: 2px solid var(--darkColor-blue);
     outline: none;
 }
 
 .colorsContainer {
     background-color: var(--whitishColor-blue);
     align-items: center;
     justify-content: center;
     height: fit-content;
     width: fit-content;
 
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-auto-rows: auto;
     grid-gap: 10px;
     padding: 10px;
     border-radius: 26px;
 }
 
 .colorsContainer input[type="radio"] {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-color: #fff;
     height: 36px;
     width: 36px;
     border-radius: 18px;
     outline: none;
     cursor: pointer;
 }
 
 .colorsContainer input[value="blue"] {
     background-color: #4382ec;
 }
 
 .colorsContainer input[value="yellow"] {
     background-color: #ffcc00;
 }
 
 .colorsContainer input[value="red"] {
     background-color: #ec4343;
 }
 
 .colorsContainer input[value="green"] {
     background-color: #5cba5c;
 }
 
 .colorsContainer input[value="cyan"] {
     background-color: #00ced1;
 }
 
 .colorsContainer input[value="orange"] {
     background-color: #ec844d;
 }
 
 .colorsContainer input[value="purple"] {
     background-color: #9563b5;
 }
 
 .colorsContainer input[value="pink"] {
     background-color: #ec5e78;
 }
 
 .colorsContainer input[value="brown"] {
     background-color: #705347;
 }
 
 .colorsContainer input[value="silver"] {
     background-color: #9e9e9e;
 }
 
 .colorsContainer input[value="grey"] {
     background: linear-gradient(45deg, #bb4dee, #f8b880);
 }
 
 .colorsContainer input[value="dark"] {
     background-color: #171717;
 }
 
 .colorsContainer input[type="radio"]:checked::after {
     position: absolute;
     content: "";
     width: 36px;
     height: 36px;
     background: url("./svgs/tick.svg") center center no-repeat;
     background-size: 74%;
 }
 
 .themingStuff .btn {
     background-color: var(--whitishColor-blue);
     height: 100%;
     aspect-ratio: 1/1;
     right: 0;
     border-radius: 100%;
     z-index: 2;
 }
 
 .languageIcon {
     background-color: var(--whitishColor-blue);
     height: 100%;
     aspect-ratio: 1/1;
     right: 0;
     border-radius: 100%;
     z-index: 2;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .uploadClearContainer {
     display: flex;
     margin-top: 134px;
     justify-content: space-between;
     gap: 10px;
 }
 
 .uploadButton {
     font-size: 0.95rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 9px;
     background-color: var(--whitishColor-blue);
     color: var(--darkColor-blue);
     width: -webkit-fill-available;
     width: -moz-available;
     padding: 10px 12px;
     border-radius: 23px;
     border: 2px solid transparent;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s;
 }
 
 .randomButton {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--whitishColor-blue);
     color: var(--darkColor-blue);
     border-radius: 26px;
     border: 2px solid transparent;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s;
     padding: 10px;
 }
 
 .clearButton {
     padding: 10px;
     color: var(--whitishColor-blue);
     background-color: var(--darkColor-blue);
     display: flex;
     align-items: center;
     justify-content: center;
     border: 2px solid transparent;
     border-radius: 26px;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s;
 }
 
 .uploadButton:hover,
 .randomButton:hover {
     background-color: var(--darkColor-blue);
     color: var(--whitishColor-blue);
 }
 
 .uploadButton:active,
 .randomButton:active {
     background-color: var(--darkerColor-blue);
 }
 
 .clearButton:hover {
     color: var(--darkColor-blue);
     background-color: var(--whitishColor-blue);
 }
 
 .clearButton:active {
     color: var(--darkerColor-blue);
 }
 
 #imageUpload {
     display: none;
 }
 
 .backupRestoreContainer {
     width: 100%;
     height: 38px;
     margin-top: 33px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 15px;
 }
 
 .backupRestoreBtn {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 9px;
     font-size: 0.9rem;
     cursor: pointer;
     border: none;
     background-color: var(--bg-color-blue);
     color: var(--darkerColor-blue);
     border-radius: 20px;
     transition: background-color 0.3s ease;
 }
 
 .backupRestoreBtn:hover {
     background-color: var(--darkColor-blue);
     color: #fffffff5;
 }
 
 .backupRestoreBtn:active {
     background-color: var(--darkerColor-blue);
     color: #fffffff5;
 }
 
 .spacer {
     height: 23px;
 }
 
 
 #colorPicker {
     display: none;
 }
 
 .colorPickerLabel {
     grid-column: span 3;
     width: 100%;
     background: var(--accentLightTint-blue);
     height: 100%;
     border-radius: 100px;
     display: flex;
     text-align: center;
     justify-content: center;
     font-size: 0.8rem;
     line-height: 35px;
     cursor: pointer;
     border: 2px solid transparent;
     transition: background-color 0.3s ease;
 }
 
 .colorPickerLabel:hover {
     background: var(--bg-color-blue);
 }
 
 
 
 #menuButton {
     position: fixed;
     right: var(--gap);
     bottom: var(--gap);
     width: 50px;
     height: 50px;
     background-color: var(--accentLightTint-blue);
     border-radius: 50%;
     border: 6px solid var(--accentLightTint-blue);
     box-shadow:
         inset 0 0 0 4px var(--darkColor-blue),
         inset 0 0 0 9.7px var(--accentLightTint-blue),
         inset 0 0 0 40px var(--darkColor-blue);
     cursor: pointer;
 }
 
 #menuCloseButton {
     position: relative;
     width: 42px;
     height: 42px;
     max-width: 100%;
     background-color: var(--bg-color-blue);
     color: var(--textColorDark-blue);
     font-size: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 6px;
     padding: 6px;
     border-radius: 100px;
     overflow: hidden;
     transition: all 0.4s;
     cursor: pointer;
     margin-top: var(--gap);
 }
 
 #menuCloseButton:hover {
     width: fit-content;
     background-color: #fff;
 }
 
 #menuCloseButton::after {
     content: attr(data-lang);
     white-space: nowrap;
     padding-right: 12px;
     opacity: 0;
     transform: translateX(-20px);
     animation: 0.6s menuCloseButtonHoverReverse forwards;
     z-index: 1;
 }
 
 #menuCloseButton:hover::after {
     content: attr(data-lang);
     padding-right: 12px;
     padding-left: 36px;
     animation: 0.6s menuCloseButtonHover forwards;
     animation-delay: 0.1s;
 }
 
 
 @keyframes menuCloseButtonHover {
     0% {
         opacity: 0;
         transform: translateX(-20px);
     }
 
     100% {
         opacity: 1;
         transform: translate(0);
     }
 }
 
 @keyframes menuCloseButtonHoverReverse {
     0% {
         opacity: 1;
         transform: translateX(0);
         visibility: hidden;
     }
 
     100% {
         opacity: 0;
         transform: translateX(-10px);
         visibility: hidden;
     }
 }
 
 #menuCloseButton .icon {
     position: absolute;
     left: 6px;
     background-color: #fff;
     width: 30px;
     height: 30px;
     border-radius: 100px;
     transition: 0.4s;
     z-index: 2;
 }
 
 
 #menuCloseButton:hover .icon {
     transform: translateX(0) rotate(90deg);
 }
 
 .dropdown-item {
     display: flex;
     gap: 8px;
     align-items: center;
 }
 
 .dropdown-btn {
     background: none;
     border: none;
 }
 
 .dropdown {
     position: relative;
     display: inline-block;
 }
 
 .dropdown-content {
     background: var(--accentLightTint-blue);
     border-radius: 16px;
     display: none;
     position: absolute;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
     top: 50px;
     left: -15px;
     overflow: hidden;
     max-height: 192px;
 }
 
 .dropdown-content .dropdown-item {
     padding: 8px 16px;
     cursor: pointer;
 }
 
 #default-dropdown-item .engine-name {
     display: none;
 }
 
 .dropdown-content .engine-name {
     font-size: 1rem;
 }
 
 .dropdown-item {
     position: relative;
 }
 
 .dropdown-item.selected:not(*[data-default]):before {
     content: "";
     position: absolute;
     top: 0px;
     left: 0;
     right: 0;
     bottom: 0px;
     background-color: var(--bg-color-blue);
     opacity: 0.8;
     z-index: -1;
 }
 
 #default-dropdown-item {
     outline: none !important;
 }
 
 *[id$="-dropdown"]:not(.dropdown-content .dropdown-item:nth-child(1)) {
     bottom: 3px;
 }
 
 .search-dropdown .dropdown-item svg {
     width: 33px;
     height: 33px;
     margin-left: 0;
     padding: 2px;
     background-color: var(--darkColor-blue);
     border-radius: 100%;
 }
 
 
 .savebtn {
     transition: background-color 0.3s ease;
 }
 
 .savebtn:hover {
     background-color: var(--darkerColor-blue);
 }
 
 .savebtn:active {
     transform: scale(0.96);
 }
 
 #LoadingScreen {
     background: var(--Loading-Screen-Color);
     display: flex;
     position: fixed;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 99999;
 }
 

 
